.container.center.mt-5
  %h2 Welcome to your dashboard!
  %h3.mt-4 It looks like you haven't created an application yet.
  %h3 Click the button below to get started.
  = link_to 'Create Application', new_organization_application_path, class: 'btn btn-lg btn-primary my-5'
