- provide(:title, 'Organization Expectations')
.container
  %h1 DSR Member Expectations
  %br/
  %h3 Organizational Structure
  %ul
    %li
      Be a governmental, non-governmental, non-profit, faith-based, or volunteer organization
      serving in Deschutes County.
  %p{:style => 'margin-left:52px;font-weight:bold'} OR
  %ul
    %li
      Be a private business and have an interest in helping Deschutes County residents during
      and/or after a disaster.
  %h3 Attendance and Participation
  %ul
    %li
      Attend at least 3 out of 4 DESCHUTES COAD meetings annually; either in person, or by phone.
  %ul
    %li
      Participate in 1 annual drill or exercise created to test DESCHUTES COAD’s structure, charter, and/or procedures.
  %h3 Training
  %ul
    %li
      Commit at least one person in your organization to take FEMA’s IS-100 and IS-700 courses within one (1) year of
      becoming a member of DESCHUTES COAD. These courses are available for free online:
      %br/
      %a{:href => 'https://emilms.fema.gov/IS100b/index.htm'} IS-100
      %br/
      %a{:href => 'https://emilms.fema.gov/IS700aNEW/index.htm'} IS-700
  %ul
    %li
      Commit at least one person in your organization to take FEMA IS-288 (The Role of Voluntary Organizations in Emergency
      Management) online within 1 year of joining DESCHUTES COAD. This courses is available here:
      %br/
      %a{:href => 'https://training.fema.gov/is/courseoverview.aspx?code=IS-288.a'} IS-288
  %h3 During Disaster
  %ul
    %li
      Organizations are responsible to check COAD website database for open help tickets, and pick tickets that you are able to
      respond to.
  %ul
    %li
      Organizations are required to respond in a timely manner when the need is filled and are responsible to check off
      completed tasks and close tickets. The database will be monitored by COAD personnel to ensure timely and effective service.
  %h3 After Disaster
  %ul
    %li
      Participate in a hot-wash or debrief with COAD leadership and membership to learn from mistakes and solidify the processes
      that went well.
  %br/
  %h2 Want to contribute?
  %br/
  = link_to 'Apply Now', signup_path, class: 'btn btn-lg btn-primary'
