- provide(:title, 'Ticket Submitted')

.container.center.mt-5
  %h1 Ticket Submitted
  %h3
    Thank you for submitting. An organization will contact you shortly
    %br>/
    through the contact info provided.
  .container.spaced
    = link_to 'Return To Home', root_path, class: 'btn btn-primary'
