<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A new organization application has been submitted by <%= @new_organization.primary_name %> for <%= @new_organization.name %>! Log in to review.
    </p>
  </body>
</html>
