/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  padding-top: 3.5rem;
}

.jumbotron p {
  font-size: 2em;
}

#link {
  color: rgb(51, 122, 183);
  font-family: Georgia;
  &:hover {
    color: white;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-200;
  color: $gray-500;
  a {
    color: $gray-500;
    &:hover {
      color: $gray-900;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.container {
  .center {
    text-align: center;
  }
  .spaced {
    margin-top: 50px;
  }
}

.list-group-item-header {
  font-size: 24px;
  font-weight: 500;
}

.nobullets {
  list-style-type: none;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%,
}

.sidenav {
  height: 400px;
  width: 200px;
  min-width: 200px;
  background-color: #d9d9d9;
}

.sidenav-tabs {
  list-style: none;
  padding: 0;
}

.sidenav-tabs a {
  display: block;
  width: 100%;
  padding: 12px;
  text-decoration: none;
}

.sidenav-tabs > li > a:hover, .sidenav-tabs > li > a:focus {
  background-color: #cccccc;
}

.tab-content {
  flex-grow: 1;
}

#error_explanation {
  @extend .alert;
  @extend .alert-warning;
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.field_with_errors .form-control {
  @extend .is-invalid;
}


/* Authentication */

.container-auth {
  margin-top: 5rem;
}

.form-auth {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .g-recaptcha {
    display: inline-block;
  }
}

.form-signin {
  max-width: 330px;
}
