- flash.each do |message_type, message|
  .alert.alert-dismissible.fade.show{class: "alert-#{message_type.to_s == 'notice' ? 'success' : 'warning alert'}"}
    = message
    %button.close{type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close'}
      %span{'aria-hidden': 'true'} &times;
